.title{
    font-weight: bold;
    margin-bottom: 1em;
    color: white;
}
.channel, .view{
    font-size: small;
    color: #ccc;
    margin-bottom: 0.2em;
}
.container {
    position: relative;
    width: 11em;
    float: left;
    margin: 0 0.2em;
}

.close{
    position: absolute;
    right: 1em;
}
.edit{
    position: absolute;
    right: 3em;
}