.title {
    font-weight: bold;
    margin-bottom: 1em;
}

.channel,
.view {
    font-size: small;
    margin-bottom: 0.2em;
}

.container {
    position: relative;
    width: 11em;
    margin: 0.5em;
}

.container.darkMode {
    background-color: grey;
    border: 1px solid yellow;
}

.container.lightMode {
    color: black;
    background-color: lightgray;
    border: 1px solid black;
}

.close {
    position: absolute;
    right: 1em;
}

.edit {
    position: absolute;
    right: 3em;
}

.pic img {
    width: 100%;
}